In [2]:
# i got two files that i want to join, and also i prefer removing the field 'model' since it takes a lot of space
import pandas as pd

df1 = pd.read_pickle('newnew-fixed.pkl')
df1 = df1.drop(columns=['model'])
df2 = pd.read_pickle('hard.pkl')
df2 = df2.drop(columns=['model'])

# join the two dataframes; merge on all columns, prefer df2 values
df = df1.merge(df2, how='outer', on=['dataset', 'method', 'strategy', 'encoding', 'seed'], suffixes=('-old', ''))

In [6]:
print(df)

        dataset  dataset_size-old encoding  seed strategy   method  \
0           TTT               0.5       av   0.0   single  Find-RS
1           TTT               0.5       av   0.0       bo  Find-RS
2           TTT               0.5       av   0.0       bp  Find-RS
3           TTT               0.5       av   0.0   best-k  Find-RS
4           TTT               0.5      ohe   0.0   single  Find-RS
...         ...               ...      ...   ...      ...      ...
5388  CONNECT-4               NaN       av   3.0   single      SVM
5389  CONNECT-4               NaN       av   3.0   single       RF
5390  CONNECT-4               NaN       av   3.0   single  Find-RS
5391  CONNECT-4               NaN       av   3.0       bo  Find-RS
5392  CONNECT-4               NaN       av   3.0       bp  Find-RS

      accuracy-old    f1-old  avg_rule_len-old  avg_ruleset_len-old  T-old  \
0          1.00000  1.000000          3.000000                  8.0  100.0
1          1.00000  1.000000          3.000000                  8.0  100.0
2          1.00000  1.000000          3.000000                  8.0  100.0
3          1.00000  1.000000          3.000000                  8.0  100.0
4          0.93737  0.951613         10.571429                 14.0  100.0
...            ...       ...               ...                  ...    ...
5388           NaN       NaN               NaN                  NaN    NaN
5389           NaN       NaN               NaN                  NaN    NaN
5390           NaN       NaN               NaN                  NaN    NaN
5391           NaN       NaN               NaN                  NaN    NaN
5392           NaN       NaN               NaN                  NaN    NaN

      dataset_size  accuracy        f1 avg_rule_len avg_ruleset_len     T
0              NaN       NaN       NaN          NaN             NaN   NaN
1              NaN       NaN       NaN          NaN             NaN   NaN
2              NaN       NaN       NaN          NaN             NaN   NaN
3              NaN       NaN       NaN          NaN             NaN   NaN
4              NaN       NaN       NaN          NaN             NaN   NaN
...            ...       ...       ...          ...             ...   ...
5388           0.5  0.886849  0.914927         None            None   1.0
5389           0.5  0.866244  0.901650         None            None   1.0
5390           0.5  0.800699  0.848712    34.587802            1902  20.0
5391           0.5  0.858251  0.891972    34.700937         1884.55  20.0
5392           0.5  0.860886  0.896349    34.649663           31778  20.0

[5393 rows x 17 columns]

In [7]:
df['dataset_size'] = df['dataset_size-old'].fillna(df['dataset_size'])
df['accuracy'] = df['accuracy-old'].fillna(df['accuracy'])
df['f1'] = df['f1-old'].fillna(df['f1'])
df['avg_rule_len'] = df['avg_rule_len-old'].fillna(df['avg_rule_len'])
df['avg_ruleset_len'] = df['avg_ruleset_len-old'].fillna(df['avg_ruleset_len'])
df['T'] = df['T-old'].fillna(df['T'])

In [8]:
df

,dataset,dataset_size-old,encoding,seed,strategy,method,accuracy-old,f1-old,avg_rule_len-old,avg_ruleset_len-old,T-old,dataset_size,accuracy,f1,avg_rule_len,avg_ruleset_len,T
0,TTT,0.5,av,0.0,single,Find-RS,1.00000,1.000000,3.000000,8.0,100.0,0.5,1.000000,1.000000,3.000000,8.00,100.0
1,TTT,0.5,av,0.0,bo,Find-RS,1.00000,1.000000,3.000000,8.0,100.0,0.5,1.000000,1.000000,3.000000,8.00,100.0
2,TTT,0.5,av,0.0,bp,Find-RS,1.00000,1.000000,3.000000,8.0,100.0,0.5,1.000000,1.000000,3.000000,8.00,100.0
3,TTT,0.5,av,0.0,best-k,Find-RS,1.00000,1.000000,3.000000,8.0,100.0,0.5,1.000000,1.000000,3.000000,8.00,100.0
4,TTT,0.5,ohe,0.0,single,Find-RS,0.93737,0.951613,10.571429,14.0,100.0,0.5,0.937370,0.951613,10.571429,14.00,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5388,CONNECT-4,NaN,av,3.0,single,SVM,NaN,NaN,NaN,NaN,NaN,0.5,0.886849,0.914927,NaN,NaN,1.0
5389,CONNECT-4,NaN,av,3.0,single,RF,NaN,NaN,NaN,NaN,NaN,0.5,0.866244,0.901650,NaN,NaN,1.0
5390,CONNECT-4,NaN,av,3.0,single,Find-RS,NaN,NaN,NaN,NaN,NaN,0.5,0.800699,0.848712,34.587802,1902.00,20.0
5391,CONNECT-4,NaN,av,3.0,bo,Find-RS,NaN,NaN,NaN,NaN,NaN,0.5,0.858251,0.891972,34.700937,1884.55,20.0
5392,CONNECT-4,NaN,av,3.0,bp,Find-RS,NaN,NaN,NaN,NaN,NaN,0.5,0.860886,0.896349,34.649663,31778.00,20.0

In [9]:

# persist data
df.to_pickle('../merged.pkl')